# === Input/Output Paths ===
TERRAIN_FILE="input/gemeenten/gemeenten.shp"
TERRAIN_LAYER="provinciegebied"
FEATURE_GPKG="input/dataset.gpkg"
HEXAGONS_PICKLE="output/hexagons.pkl"
HEXAGONS_PLOT="output/hexagons.png"
COLORIZED_PLOT="output/colorized.png"
COLORIZED_H5="output/matrices.h5"
RENDER_PATH="output/rendering.png"

# === Hexagonization Parameters ===
H3_RESOLUTION="7"
FEATURE_COLUMN="order"
AGGREGATION_METHOD="sum"
# FILTER_COLUMN="statnaam"
# FILTER_CONDITION="Utrecht"

# === Perlin Noise Parameters ===
USE_PERLIN="True"
NOISE_OCTAVES="6"
NOISE_VARIATION="2"
NOISE_SCALE="0.15"

# === Colorization Parameters ===
COLOR_PALETTE="custom"
GRADIENT_START="#05102d"
GRADIENT_END="#fec119"
BACKGROUND_COLOR="2,10,30"

# === Technical Parameters ===
RASTER_RESOLUTION="0.001"
HEXAGON_BUFFER="0.001"

# === Rendering Parameters ===
HEIGHT_MULTIPLIER="1500"

# Camera parameters
ZOOM="0.8"
THETA="270"
PHI="80"

# Render parameters
LIGHT_DIRECTION="35"
LIGHT_ALTITUDE="40,80"
LIGHT_COLOR="white,white"
LIGHT_INTENSITY="1000,1000"
SAMPLES="4000"
HEIGHT="1000"
WIDTH="1000"
